<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h2> {{ title }} Asset</h2>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="addasset">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="agentname" class="label"> Asset Name *</label>
              <input type="input" nbInput fullWidth id="agentname" formControlName="name" class="form-control"  trim="blur" ngxSpecialChar 
                placeholder="Please enter asset name">
              <div *ngIf="(f.name.touched || f.name.dirty) && f.name.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.name.errors && f.name.errors.required"> Asset Name is required.</div>
                <div *ngIf="f.name.errors.minlength">
                  Asset Name at least 3 characters long.
                </div>
                <div *ngIf="f.name.errors.maxlength">
                  Asset Name at least 100 characters long.
                </div>
                <div *ngIf=" f.name.errors.pattern">
                  Please enter valid Asset Name .
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="queueitemtype" class="label">Select Type *</label>
              <select class="custom-select" formControlName="type" (change)="get_val($event.target.value)">
                <option value='' [disabled]='true' selected>Please select Type</option>
                <option *ngFor="let item of value" [value]="item">{{item}}</option>
              </select>
              <div *ngIf="f.type.touched && f.type.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.type.errors && f.type.errors.required"> Type is required.</div>
              </div>
            </div>
          </div>
 

          <div class="row rowPadTOp" *ngIf="file">
          <div class="col-md-6 col-lg-6 col-xxxl-6">
            <label class="label">Upload File *</label>
            <label class="upload-button">
                <input type="file" ngFileSelect [options]="options"
                 (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                 
              </label>
              <div *ngIf="showUpload" class="invalid-feedback-frm">
                Please Upload  File 
            </div>
             <div *ngIf="fileSize" class="invalid-feedback-frm">
                  You cannot upload empty file.
                </div>
        </div>
          </div>

          <div class="row rowPadTOp" *ngIf="json">
            <div class="col-md-12 col-lg-12 col-xxxl-12"> 
            <label for="JsonValue" class="label">Json * </label>
              <json-editor [options]="editorOptions" #editor formControlName="JsonValue"></json-editor>
              <div *ngIf="f.JsonValue.touched && f.JsonValue.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.JsonValue.errors && f.JsonValue.errors.required"> Json is required.</div>
                <div *ngIf="f.JsonValue.errors.minlength">
                  Json at least 2 characters long.
                </div>
                <div *ngIf="f.JsonValue.errors.maxlength">
                  Json at least 100 characters long.
                </div>
              </div>

            </div>
          </div>



          <div class="row rowPadTOp" *ngIf="textvalue">
            <div class="col-md-12 col-lg-12 col-xxxl-12"> 
            <label for="TextValue" class="label">Text * </label>

            <textarea type="input" rows="10" nbInput fullWidth id="TextValue" formControlName="TextValue"
              class="form-control" placeholder="Please enter text value"> </textarea>
            <div *ngIf="f.TextValue.touched && f.TextValue.invalid" class="invalid-feedback-frm">
              <div *ngIf="f.TextValue.errors && f.TextValue.errors.required"> Text is required.</div>
              <div *ngIf="f.TextValue.errors.minlength">
                Text at least 2 characters long.
              </div>
              <div *ngIf="f.TextValue.errors.maxlength">
                Text at least 100 characters long.
              </div>
            </div>


          </div>
           
          </div>

          <div class="row rowPadTOp" *ngIf="numbervalue">
            <div class="col-md-12 col-lg-12 col-xxxl-12"> 
            <label for="NumberValue" class="label">Number * </label>

              <input type="number" nbInput fullWidth id="NumberValue" formControlName="NumberValue" class="form-control"
                placeholder="Please enter number ">
              <div *ngIf="f.NumberValue.touched && f.NumberValue.invalid" class="invalid-feedback-frm">

                <div *ngIf=" f.NumberValue.errors.required"> Number is required.</div>


                <div *ngIf="f.NumberValue.errors.pattern">Enter only number.</div>
              </div>
            </div>
          </div>


<div class="row rowPadTOp " *ngIf="urlId"    >
   
    <div class="col-md-6 col-lg-6 col-xxxl-6 "  >

    </div>
          <div class="col-md-6 col-lg-6 col-xxxl-6 titleRight" *ngIf="showAgentAssetBtn">
              <button type="submit" class="btn btn-primary"   status="primary" 
                (click)="showAssetAgentBox()">Add Agent Value</button>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6 titleRight" *ngIf="hideAgentAssetBtn">
              <button type="submit" class="btn btn-primary"   status="primary" 
                (click)="hideAssetAgentBox()">Close Agent Value</button>
            </div>
            </div>



             <div class="row rowPadTOp"  *ngIf="showGlobalAsset">
             <div class="col-md-5 col-lg-5 col-xxxl-5">
              <label for="AgentId" class="label">Select Agent *</label>
              <select class="custom-select" formControlName="AgentId" >
                <option value='' [disabled]='true' selected>Please Select Agent </option>
                <option *ngFor="let item of showLookUpagent" [value]="item.agentId">{{item.agentName}}</option>
              </select>
              <div *ngIf="f.AgentId.touched && f.AgentId.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.AgentId.errors && f.AgentId.errors.required"> Agent is required.</div>
              </div>
            </div>

          <div class="col-md-5 col-lg-5 col-xxxl-5" *ngIf="showAssetbyID.type == 'Text' || showAssetbyID.type == 'Number'">
              <label for="agentname" class="label"> Value *</label>
              <input type="input" nbInput fullWidth id="Name " formControlName="Name" class="form-control"  trim="blur" ngxSpecialChar 
                placeholder="Please enter asset name">
              
            </div>
            <div class="col-md-5 col-lg-5 col-xxxl-5" *ngIf="showAssetbyID.type == 'File'  ">
                 <label class="label">Upload File *</label>
            <label class="upload-button">
                <input type="file" ngFileSelect [options]="options"
                 (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                 
              </label>
              <div *ngIf="showUpload" class="invalid-feedback-frm">
                Please Upload  File 
            </div>
             <div *ngIf="fileSize" class="invalid-feedback-frm">
                  You cannot upload empty file.
                </div>
              
            </div>
  <div class="col-md-5 col-lg-5 col-xxxl-5" *ngIf="showAssetbyID.type == 'Json'  "></div>

            <div class="col-md-2 col-lg-2 col-xxxl-2 rowPadTOpAssetbtn" *ngIf="showSaveAssetAgentbutton">
              <button type="submit" class="btn btn-primary"   status="primary" 
                (click)="SaveAgentAsset()">Save Agent Value</button>
            </div>



            <div class="col-md-2 col-lg-2 col-xxxl-2 rowPadTOpAssetbtn" *ngIf="showUpdateAssetAgentbutton">
              <button type="submit" class="btn btn-primary"   status="primary" 
                (click)="UpdateAssetAgent()">Update Agent Value </button>
            </div>
            
          
        </div>
    
           <div class="row rowPadTOp" *ngIf="showGlobalAsset">

              <div class="col-md-12 col-lg-12 col-xxxl-12" *ngIf="showAssetbyID.type == 'Json'  ">
                <label for="Name" class="label">Json * </label>
              <json-editor [options]="editorOptions" #editorAssetAgent formControlName="Name"></json-editor>
              <div *ngIf="f.Name.touched && f.Name.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.Name.errors && f.Name.errors.required"> Json is required.</div>
                <div *ngIf="f.Name.errors.minlength">
                  Json at least 2 characters long.
                </div>
                <div *ngIf="f.Name.errors.maxlength">
                  Json at least 100 characters long.
                </div>
              </div>
              
            </div>
           </div>
        <div class="row rowPadTOp" *ngIf="showGlobalAsset">
          <div class="col-md-12">
              <table class="table table-bordered"  >
          <thead>
            <tr >
              <th scope="col">
               Agent
                
              </th>
              <th scope="col">
                Value
              </th>
              <th scope="col" *ngIf="showAssetbyID.type == 'File'">
                File Size
              </th>
              <th scope="col" *ngIf="showAssetbyID.type == 'File'">
               Download
              </th>
              <th scope="col" *ngIf="showAssetbyID.type !== 'File'">
                Edit
              </th>
              <th scope="col">
                Delete
                
              </th>
               
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assetagentvalue of showAgentAsstData" 
               ><td scope="row">
               {{assetagentvalue.agentId}}
              </td>
              <td scope="row" *ngIf="assetagentvalue.type == 'Text'" >
                {{assetagentvalue.textValue}}
              
              </td>
              <td scope="row " *ngIf="assetagentvalue.type == 'Json'" >
                 <p class="p-text">
                    <ngx-json-viewer [json]="assetagentvalue.jsonValue" [expanded]="false"></ngx-json-viewer>
                 </p>
                
              </td>
              <td scope="row" *ngIf="assetagentvalue.type == 'Number'" >
                {{assetagentvalue.numberValue}}
              </td>
              <td scope="row" *ngIf="assetagentvalue.type == 'File'" >
                {{assetagentvalue.name}}
              </td>
              <td scope="row" *ngIf="assetagentvalue.type == 'File'" >
                {{assetagentvalue.sizeInBytes | filesize}}
              </td>
              <td scope="row" *ngIf="assetagentvalue.type == 'File'" >
                 <a (click)="downloadFile(assetagentvalue.id )"><i class="fa fa-download"></i></a>
              </td>
               
               <td *ngIf="assetagentvalue.type !== 'File'">
            <a (click)="editAssetAgent(assetagentvalue )">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a (click)="open2(dialog,assetagentvalue.id)" >
              <img src="../../../assets/images/del-icon.png" alt="Delete Icon" />
            </a>
          </td>
            </tr>
           
          </tbody>
        </table>
          </div>
        
        </div>
          <div class="row rowPadTOp">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <button type="submit" class="btn btn-primary"   status="primary" [disabled]="submitted || !addasset.valid"
                (click)="onSubmit()">Save</button>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6 titleRight">
           
            </div>
          </div>
          
        </form> 
      
     
            
        
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Delete Asset Agent -->
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Delete Asset</h6>
    </nb-card-header>
    <nb-card-body>
      <div aria-labelledby="title">
        <p>Are you sure you want to delete?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-danger" [disabled]="isDeleted" (click)="del_agent(ref)">Delete</button>
      <button class="btn btn-light" style="margin-left: 11px" (click)="ref.close()">
        Cancel
      </button>

    </nb-card-footer>
  </nb-card>
</ng-template>