<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h2>{{ title }} Schedule</h2>
      </nb-card-header>
      <nb-card-body>
        <form autocomplete="off" [formGroup]="scheduleForm">
          <div class="row rowPadBottom">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="name" class="label">Name *</label>
              <input type="input" nbInput fullWidth id="name" formControlName="name" style="
              margin-top: 9px;" placeholder="Please enter name" ngxSpecialChar trim="blur" />
              <div *ngIf=" formControls.name.invalid &&(formControls.name.dirty || formControls.name.touched) "
                class="invalid-feedback-frm">
                <div *ngIf="formControls.name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="formControls.name.errors.minlength">
                  Name must be at least 3 characters long.
                </div>
                <div *ngIf="formControls.name.errors.maxlength">
                  Name can be 100 characters long.
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6  checkbox checbox-switch switch-primary">
              <label for="subtopic" class="label">
                <ng-container *ngIf="!isChecked">
                  Agent Name *
                </ng-container>
                <ng-container *ngIf="isChecked">
                  Agent Group *
                </ng-container>
              </label>
              <label nbTooltip="Choose agent or agent group">
                <input type="checkbox" (change)="onToggleAgent($event)" formControlName="checked" />
                <span></span>
              </label>
              <ng-container *ngIf="!isChecked">
                <!-- <select class="custom-select" formControlName="agentId">
                  <option value="" disabled>Please select agent name</option>
                  <option *ngFor="let item of allAgents" [value]="item?.agentId">
                    {{ item?.agentName }}
                  </option>
                </select> -->
                <ng-select [items]="allAgents" [searchable]="true" bindLabel="agentName" formControlName="agentId"
                  class="NgSelect" [closeOnSelect]="true" placeholder="Please select agent" bindValue="agentId"
                  [clearable]="false">
                </ng-select>
                <div
                  *ngIf="formControls.agentId.invalid &&(formControls.agentId.dirty || formControls.agentId.touched) && !isChecked "
                  class="invalid-feedback-frm">
                  <div *ngIf="formControls.agentId?.errors.required">
                    Agent name is required.
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="isChecked">
                <!-- <select class="custom-select" formControlName="agentGroupId">
                  <option value="" disabled>Please select agent group</option>
                  <option *ngFor="let item of allGroupAgents" [value]="item?.agentGroupId">
                    {{ item?.agentGroupName }}
                  </option>
                </select> -->
                <ng-select [items]="allGroupAgents" [searchable]="true" bindLabel="agentGroupName"
                  formControlName="agentGroupId" class="NgSelect" [closeOnSelect]="true"
                  placeholder="Please select agent group" bindValue="agentGroupId" [clearable]="false">
                </ng-select>
                <div
                  *ngIf="formControls.agentGroupId.invalid &&(formControls.agentGroupId.dirty || formControls.agentGroupId.touched) && isChecked "
                  class="invalid-feedback-frm">
                  <div *ngIf="formControls.agentGroupId?.errors.required">
                    Agent group is required.
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row rowPadBottom">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="processId" class="label">Automations *</label>
              <!-- <select class="custom-select" formControlName="automationId" (change)="onAutomationChange($event)">
                <option value="" disabled>Please select automation name</option>
                <option *ngFor="let item of allProcesses" [value]="item?.automationId">
                  {{ item?.automationNameWithVersion }}
                </option>
              </select> -->
              <ng-select [items]="allProcesses" [searchable]="true" bindLabel="automationNameWithVersion"
                formControlName="automationId" class="NgSelect" [closeOnSelect]="true"
                placeholder="Please select automation" bindValue="automationId" [clearable]="false"
                (change)="onAutomationChange($event)">
              </ng-select>
              <div
                *ngIf=" formControls.automationId.invalid &&(formControls.automationId.dirty || formControls.automationId.touched) "
                class="invalid-feedback-frm">
                <div *ngIf="formControls.automationId.errors.required">
                  Automation name is required.
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3">
              <div class="checkbox checbox-switch switch-primary">
                <label class="label">Disabled</label><br>
                <label>
                  <input type="checkbox" formControlName="isDisabled" />
                  <span></span>
                </label>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3">
              <label for="retryCount" class="label">Max Running Jobs</label><br>
              <nb-checkbox (checkedChange)="check($event)" formControlName="maxRetryChecked">
              </nb-checkbox>
            </div>
          </div>
          <div class="row rowPadBottom" *ngIf="scheduleForm.value.maxRetryChecked">
            <div class="col-md-12 col-lg-12 col-xxxl-12">
              <label for="retryCount" class="label">Max Running Jobs *</label>
              <input type="number" nbInput fullWidth id="retryCount" formControlName="maxRunningJobs"
                placeholder="Please enter max running jobs" ngxSpecialChar trim="blur">

              <div
                *ngIf="formControls.maxRunningJobs.invalid && (formControls.maxRunningJobs.dirty || formControls.maxRunningJobs.touched)"
                class="invalid-feedback-frm">
                <div *ngIf="formControls.maxRunningJobs?.errors.required">
                  Max retry count is required.
                </div>
                <div *ngIf="formControls.maxRunningJobs?.errors.pattern">
                  Max retry count value between 0-99
                </div>

              </div>
            </div>
          </div>
          <div class="row rowPadBottom">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label class="label">Starting Type *</label>
              <nb-radio-group formControlName="startingType">
                <nb-radio class="startingtype" value="oneTime" (click)="radioSetValidator('oneTime')" required>One Time
                </nb-radio>
                <nb-radio class="startingtype" value="recurrence" (click)="radioSetValidator('recurrence')" required>
                  Recurrence
                </nb-radio>
                <nb-radio class="startingtype" value="manual" (click)="radioSetValidator('manual')" required>
                  Manual
                </nb-radio>
                <nb-radio class="startingtype" value="queueArrival" (click)="radioSetValidator('queueArrival')"
                  required>
                  Queue Arrival
                </nb-radio>
              </nb-radio-group>
              <div
                *ngIf=" formControls.startingType.invalid &&(formControls.startingType.dirty || formControls.startingType.touched) "
                class="invalid-feedback-frm">
                <div *ngIf="formControls.startingType.errors.required">
                  Starting type is required.
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="scheduleForm.value.startingType == 'queueArrival'" class="row rowPadBottom">
            <div class="col-md-12 col-lg-12 col-xxxl-12">
              <label class="label">Queue *</label>
              <ng-select [items]="queuesArr" [searchable]="true" bindLabel="name" formControlName="queueId"
                class="NgSelect" [closeOnSelect]="true" placeholder="Please select queue" bindValue="id"
                [clearable]="false">
              </ng-select>
              <div *ngIf="formControls.queueId.invalid &&(formControls.queueId.dirty || formControls.queueId.touched) "
                class="invalid-feedback-frm">
                <div *ngIf="formControls.queueId?.errors.required">
                  Queue is required.
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="scheduleForm.value.startingType == 'recurrence'" class="row rowPadBottom">
            <div class="col-md-12 col-lg-12 col-xxxl-12">
              <label class="label">Select time zone *</label>
              <ng-select [items]="timeZoneArr" [searchable]="true" bindLabel="text"
                formControlName="cronExpressionTimeZone" class="NgSelect" [closeOnSelect]="true"
                placeholder="Please select time zone" bindValue="value" [clearable]="false">
              </ng-select>
              <div
                *ngIf="formControls.cronExpressionTimeZone.invalid &&(formControls.cronExpressionTimeZone.dirty || formControls.cronExpressionTimeZone.touched) "
                class="invalid-feedback-frm">
                <div *ngIf="formControls.cronExpressionTimeZone?.errors.required">
                  Time zone is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row rowPadBottom">
            <div class="col-md-6 col-lg-6 col-xxxl-6"
              *ngIf="scheduleForm.value.startingType == 'oneTime' || scheduleForm.value.startingType == 'recurrence' || scheduleForm.value.startingType =='queueArrival'">
              <label for="startDate" class="label">Start Date *</label>
              <input nbInput fullWidth formControlName="startDate" [owlDateTimeTrigger]="dtPicker1"
                [owlDateTime]="dtPicker1" [min]="min" />
              <owl-date-time #dtPicker1></owl-date-time>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6"
              *ngIf="scheduleForm.value.startingType == 'recurrence'  || scheduleForm.value.startingType =='queueArrival'">
              <label for="expiryDate" class="label">Expiry Date *</label>
              <input nbInput fullWidth formControlName="expiryDate" [owlDateTimeTrigger]="dtPicker1"
                [owlDateTime]="dtPicker1" [min]="min" />
              <owl-date-time #dtPicker1></owl-date-time>
            </div>
          </div>
          <div class="row rowPaddingTop" *ngIf="scheduleForm.value.startingType == 'recurrence'">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
              <label for="cronExpression" class="label  col-form-label">Cron Expression *</label>
              <cron-editor [(cron)]="cronExpression" [disabled]="isCronDisabled" [(options)]="cronOptions">
              </cron-editor>
            </div>
          </div>
          <div>
            <h2>Schedule Parameters</h2>
          </div>
          <div class="btn-primary addBtn">
            <nb-icon nbTooltip="Add Job Parameter" icon="plus" (click)="addJobParameter()"></nb-icon>
          </div>

          <div class="row rowPaddingTop">
            <div class="col-md-4 col-lg-4 col-xxxl-4 topPadding" formArrayName="parameters"
              *ngFor="let item of formArrayControl.controls; let i = index;">
              <a (click)="deleteJobParameter(i)" nbTooltip="Delete Job Parameter" style="float: right;">
                <img src="../../../assets/images/del-icon.png" alt="Delete Icon" />
              </a>
              <div [formGroupName]="i">
                <div class="form-group">
                  <label for="Name" class="label">Name *</label>
                  <input id="Name" nbInput fullWidth formControlName="Name" />
                </div>
                <div class="form-group">
                  <label for="DataType" class="label">Data type *</label>
                  <select class="custom-select" formControlName="DataType">
                    <option *ngFor="let item of dataType" [value]="item" [attr.selected]="item ==='Text'? true: null">
                      {{item}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Value" class="label">Value *</label>
                  <input id="Value" nbInput fullWidth formControlName="Value" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
              <button class="btn btn-primary btnMargnTop" status="primary"
                [disabled]="!scheduleForm.valid || isSubmitted || (scheduleForm.value.startingType == 'recurrence' && cronExpression == '0/0 * 0/0 * *')"
                (click)="onScheduleSubmit()">
                Save
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>