.LeftBgIcon, .LeftBgText {
  vertical-align: middle;
}
.toolPnl{
  background-color: #fafafa;
  border: 1px solid #dee2e6;
  padding-top: 17px;
}
.btnIcon, .btnIcon img{
  font-size:13px;
  display:inline-block;
  vertical-align:middle;
}
.btnIcon{
  background-color:transparent;
  padding:8px 10px;
  border:none;
}
.btnIcon:hover{
  background-color: #dee2e6;
}
 .table {
     width: 100%;
     margin-bottom: 0rem;
     color: #212529;
 }
 
 .container {
     padding: 2rem 0rem;
 }
 
 .my-icon {
     font-size: 14px;
     color: gray;
     cursor: pointer;
     margin-left: 10px;
 }
 
 .top-perpage {
     top: 10px
 }
 
 .rename-popup{
   width: 500px;
 }
 ::ng-deep .ngx-pagination {
     padding-left: 0px !important;
     margin-bottom: 0px !important;
 }
 
 .ngx-pagination .current,
 .btn-info {
     background: #17a2b8 !important;
     border: transparent !important;
     border-radius: 20px !important;
 }
 
 .ngx-pagination .current:hover {
     background: #17a2b8 !important;
     border-radius: 20px !important;
     border: transparent !important;
 }
 .table tr.active td {  
    background-color:#b9d4b3 !important;  
    color: white;  
  } 
 .table-image {
     td,
     th {
         vertical-align: middle;
     }
 }
 
 .table tbody tr:nth-child(even) {
     background-color: #f1f1f1;
 }
 
 .paginateDiv {
     width: 100%;
 }
 
 .row.pagerow {
     width: 100%;
     margin: 0px;
 }
 
 .top-perpage {
     top: 10px
 }
 
 .perpage {
     text-align: right;
 }
 
 .per-page-drop {
     width: 141px;
     height: 37px;
 }
 
 .no-right-padding, .no-left-padding  {
     padding: 0px;
 }
  a.lendhand {
  cursor: pointer;
}
 .table-bordered{
  border-top: none;
}
.square {
  border: 2px solid #ececec;
  min-height: 283px;
  border-left: none;
  border-top: none;
  padding: 15px;
}
.file-info{
    width: 100%;
    text-align: left;
}
.file-info tr:nth-child(even){
  background-color: #fafafa;
}
  .file-info th, .file-info td{
    padding: 10px;
    font-size: 14px;
  }
  .file-info td{
    word-break: break-all;
  }
  .invalid-feedback-frm {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
hr{
  margin-bottom: 10px;
}
.breadcrumb{
    clear: both;
    margin-bottom: 0rem !important;
    background-color: transparent !important;
    padding-top: 3px !important;
}
.breadcrumb li{
  font-size: 12px;
}
.breadcrumb li img{
  width: 20px;
}
.btn.btn-primary{
  font-size: 14px;
}
.download-btn .btn-primary{
  margin-right: 15px;
}
.btnIconBlue{
  margin-right: 10px;
}
.btnIconBlue:nth-child(3){
  margin-right:0px;
}
.bbSlach{
  padding: 0px 7px;
}
label.upload-button{
  border:1px solid #e4e9f2;
  display: block;
  padding: 7px;
}

.upload-files{
  border: 1px solid #cbcbcb;
  background: #406a9c1a;
  padding: 28px 10px;
  margin:4% 0%;
  width:424px !important;
}
.upload-files-error{
  border: 1px solid red !important;
  background: rgba(156, 64, 64, 0.19) !important;
  padding: 12px;
  text-align: center;
}
.drop-container{
  display: inline-block;
  vertical-align: top;
}
.drop-container p{
  background-image: url(../../../../assets/images/icon-cloud.png);
  background-position:left center;
  background-repeat: no-repeat;
  color: #406a9c;
  font-size:14px;
  font-weight:400;
  margin:0px;
  display: inline-block;
  line-height: 1.2;
  padding-left: 56px;
}
.drop-container p span, .drop-container span{
  color: #406a9c;
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.drop-container span.or-file{
  font-weight: 500;
  display:inline-block;
  vertical-align: top;
  padding-left: 56px;
  padding-top: 6px;
}
label.upload-button{
  background-color: #406A9C;
  float: right;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
  padding: 11px 10px 7px 10px;
  line-height: 1;
}
.custom-file-input {
  color: transparent !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 111px !important;
  height: 45px !important;
  display: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden !important;
}
.custom-file-input:hover:before {
  border-color: black !important;
}
.custom-file-input:active {
  outline: 0 !important;
}
.custom-file-input:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9) !important;
}

@media only screen and (max-width: 750px) {
  .checkbox.checbox-switch label{
    margin-bottom: 0px;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    padding-left: 20px;
    margin-left: 150px;
    min-height: 50px;
  }
  td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 151px;
    padding: 12px;
    white-space: nowrap;
    margin-left: -150px;
    min-height: 50px;
    border-bottom: 1px solid #e0e0e0;
  }
  td:nth-of-type(1):before {
    content: "name";
  }
  td:nth-of-type(2):before {
    content: "type";
  }
  td:nth-of-type(3):before {
    content: "Edit";
  }
  td:nth-of-type(4):before { 
    content: "Delete";
  }
}
@media only screen and (max-width: 500px) {
  td:before {
    width: 111px;
    margin-left: -101px;
  }
  td{
    margin-left: 100px;
  }
  .rename-popup{
    width: 310px;
  }
} 
@media only screen and (min-width: 10px) and (max-width: 768px){
  .btn.btn-primary.btnNoMargn {
      margin-top: 0px !important;
  }
}
@media only screen and
(min-width: 10px)and
(max-width: 500px) {
  .upload-files{
    width:320px !important;
  }
  .drop-container span.or-file{
    padding-left: 16px !important;
  }
  
}
